html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

footer {
    background-color: #1c7430;
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
}

.bm-thead {
    color: #fff;
}

.bm-bg-green {
    background-color: #1c7430;
}

.bm-page-link:hover {
    background-color: #28a745;
    color: #fff;
}

.bm-alert {
    padding: .35rem 1.25rem;
    margin-bottom: 0;
}

.alert-dismissible .close {
    padding: 0.25rem;
}
