{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <button class="tipo-processo-create btn btn-success" data-url="{% url 'create_tipo_processo' %}"
                        type="button">
                    <i class="fa fa-plus-circle"></i>
                </button>
            </div>
            <div class="col">
                {% if messages %}
                    {% for message in messages %}
                        {% ifequal message.tags 'error' %}
                            <div class="bm-alert text-center alert alert-danger alert-dismissible fade show"
                                 role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% else %}
                            <div class="bm-alert text-center alert alert-success alert-dismissible fade show"
                                 role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endifequal %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col">
                <form method="get" action="{% url 'list_tipo_processo' %}">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" onclick="clean_and_search()">
                                <i class="fa fa-eraser"></i>
                            </button>
                        </div>
                        <input id="filter_search" type="text" class="form-control" name="filter" value="{{ filter }}"
                               placeholder="Pesquisar por tipo de processo...">
                        <div class="input-group-append">
                            <button id="filter_search_button" class="btn btn-success" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-hover table-bordered">
            <caption>Lista dos tipos de processo cadastrados.</caption>
            <thead class="bg-success bm-thead">
            <tr>
                <th scope="col">Tipo de Processo</th>
                <th scope="col">Sigla</th>
                <th class="text-center" scope="col" colspan="2">Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for tipo_processo in object_list %}
                <tr>
                    <th scope="row">{{ tipo_processo.de_tipoprocesso }}</th>
                    <td>{{ tipo_processo.sg_tipoprocesso }}</td>
                    <td class="text-center">
                        <button class="tipo-processo-update btn btn-info"
                                data-url="{% url 'update_tipo_processo' tipo_processo.pk %}"
                                type="button">
                            <i class="fa fa-pencil-alt"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="tipo-processo-delete btn btn-danger"
                                data-url="{% url 'delete_tipo_processo' tipo_processo.pk %}"
                                type="button">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td class="text-center" colspan="4" scope="row">Ainda não há Tipos de Processo cadastrados!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'paginator.html' %}

    {% include '_modal.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/tipo_processo.js' %}"></script>
{% endblock %}