{% load static %}
<div id="about-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="card">
                <div class="card-header text-center bm-thead bg-success">
                    <h5>Entre em contato!</h5>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-4 text-center">
                        <img src="{% static 'files/images/bruno.jpg' %}" class="card-img m-2">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="text-center">
                                <h5 class="card-title mt-4">Bruno Morete Felix</h5>
                                <div class="row">
                                    <div class="col">
                                        <a class="btn btn-primary"
                                           href="https://www.linkedin.com/in/bruno-morete-felix-8a017a161/"
                                           role="button">
                                            <i class="fab fa-linkedin-in"></i>
                                        </a>
                                        <a class="btn btn-primary"
                                           href="mailto:brunomf123@gmail.com"
                                           role="button">
                                            <i class="fa fa-envelope"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>