{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Prova de Desenvolvimento - Bruno Morete Felix{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'lib/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bmf.css' %}">
    {% block links %}
    {% endblock %}

</head>
<body>
<main>
    {% include 'navbar.html' %}
    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
    {% include 'about.html' %}
</main>
</body>

<script src="{% static 'lib/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'lib/popper.min.js' %}"></script>
<script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{% block scripts %}
{% endblock %}
</html>