<footer>
    <!-- Copyright -->
    <div class="navbar navbar-expand-lg navbar-dark text-center py-3">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto w-100 nav-justified">
                <li class="nav-item">
                    <a role="button" class="nav-link"  data-toggle="modal" href="#about-modal">
                        <i class="fa fa-info-circle"></i>
                        Bruno Morete Felix
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Copyright -->
</footer>