{% extends 'base.html' %}
{% block content %}

    <div class="container d-flex justify-content-center mt-5">
        <div class="align-self-center">
            <div class="card-body">
                <h5 class="card-title text-center">SEJA BEM-VINDO!</h5>
                <p class="card-text">
                    O sistema desenvolvido é referente à prova de desenvolvimento proposta após a entrevista, via
                    e-mail, na qual as especificações eram:
                </p>
                <ul>
                    <li>Desenvolvimento de 4 CRUDs (Tipo de Processo, Matéria, Forma e Processo);</li>
                    <li>Todos os campos devem ser preenchidos (obrigatórios) nos seus respectivos cadastros;</li>
                    <li>O campo ar_Processo da tabela tbProcesso deve somente aceitar o upload de arquivos até 10Mb e
                        alterado para tipo Blob;
                    </li>
                    <li>Todos os CRUDs devem ser desenvolvidos com a Lista de dados com os botões "Editar" e "Novo";
                    </li>
                    <li>Ser desenvolvido em Python + Django, JavaScript e CSS.</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}