<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#1c7430 ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto w-100 nav-justified">
            <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                <a class="nav-link" href="{% url 'index' %}"><i class="fa fa-home"></i> Início</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'list_tipo_processo' %}active{% endif %}">
                <a class="nav-link" href="{% url 'list_tipo_processo' %}"><i class="fa fa-scroll"></i> Tipos de Processo</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'list_materia' %}active{% endif %}">
                <a class="nav-link" href="{% url 'list_materia' %}"><i class="fa fa-address-book"></i> Matérias</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'list_forma' %}active{% endif %}">
                <a class="nav-link" href="{% url 'list_forma' %}"><i class="fa fa-mail-bulk"></i> Formas</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == 'list_processo' %}active{% endif %}">
                <a class="nav-link" href="{% url 'list_processo' %}"><i class="fa fa-gavel"></i> Processos</a>
            </li>
        </ul>
    </div>
</nav>