<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        <li class="page-item  {% if page_obj.has_previous %} enabled {% else %} disabled {% endif %}">
            <a class="page-link bm-page-link" href="?page=1">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link bm-page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link bm-page-link" href="#">
                    <span aria-hidden="true">&lsaquo;</span>
                </a>
            </li>
        {% endif %}

        <li class="page-item disabled">
            <a class="page-link bm-page-link" href="#">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
        </li>

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link bm-page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&rsaquo;</span>
                </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link bm-page-link" href="#">
                    <span aria-hidden=" true">&rsaquo;</span>
                </a>
            </li>
        {% endif %}


        <li class="page-item {% if page_obj.has_next %} enabled {% else %} disabled {% endif %}">
            <a class="page-link bm-page-link" href="?page={{ page_obj.paginator.num_pages }}">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>