{% load widget_tweaks %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-header">
            <h3 class="modal-title">Cadastrar: Processo</h3>
        </div>

        <div class="modal-body">
            <div class="{% if form.non_field_errors %}invalid{% endif %}">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {% ifequal field.field.widget.input_type 'file' %}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-upload"></i></span>
                            </div>
                            <div class="custom-file">
                                {% render_field field required=true class="custom-file-input" %}
                                <label class="custom-file-label" data-browse="Selecionar"
                                       for="{{ field.id_for_label }}">Escolher arquivo...</label>
                            </div>
                        </div>
                    {% else %}
                        {% render_field field required=true class="form-control" %}
                    {% endifequal %}
                    <div class="{% if field.errors %} invalid{% endif %}">
                        {% for error in field.errors %}
                            <p class="help-block">{{ error }}</p>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="modal-footer">
            <button class="btn btn-success" type="submit">Adicionar</button>
        </div>
    </form>
{% endblock %}

