{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <button class="processo-create btn btn-success" data-url="{% url 'create_processo' %}" type="button">
                    <i class="fa fa-plus-circle"></i>
                </button>
            </div>
            <div class="col">
                {% if messages %}
                    {% for message in messages %}
                        {% ifequal message.tags 'error' %}
                            <div class="bm-alert text-center alert alert-danger alert-dismissible fade show"
                                 role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% else %}
                            <div class="bm-alert text-center alert alert-success alert-dismissible fade show"
                                 role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endifequal %}
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-5">
                <form method="get" action="{% url 'list_processo' %}">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-success" onclick="clean_and_search()">
                                <i class="fa fa-eraser"></i>
                            </button>
                        </div>
                        <input id="filter_search" type="number" class="form-control" name="filter" value="{{ filter }}"
                               placeholder="Pesquisar por número de processo...">
                        <div class="input-group-append">
                            <button id="filter_search_button" class="btn btn-success" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-hover table-bordered">
            <caption>Lista dos processos cadastrados.</caption>
            <thead class="bg-success bm-thead">
            <tr>
                <th scope="col">Número</th>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
                <th scope="col">Tipo do Processo</th>
                <th scope="col">Forma</th>
                <th scope="col">Matéria</th>
                <th class="text-center" scope="col" colspan="3">Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for processo in object_list %}
                <tr>
                    <th scope="row">{{ processo.nu_processo }}</th>
                    <td>{{ processo.dt_processo }}</td>
                    <td>R${{ processo.vl_processo }}</td>
                    <td>{{ processo.cod_tipoprocesso }}</td>
                    <td>{{ processo.cod_forma }}</td>
                    <td>{{ processo.cod_materia }}</td>
                    <td class="text-center">
                        <button class="processo-update btn btn-info" data-url="{% url 'update_processo' processo.pk %}"
                                role="button">
                            <i class="fa fa-pencil-alt"></i>
                        </button>
                    </td>
                    <td class="text-center">
                        <a class="btn btn-primary"
                           href="{% url 'download_processo' processo.pk %}" download
                           role="button">
                            <i class="fa fa-download"></i>
                        </a>
                    </td>
                    <td class="text-center">
                        <button class="processo-delete btn btn-danger"
                                data-url="{% url 'delete_processo' processo.pk %}"
                                type="button">
                            <i class="fa fa-trash-alt"></i>
                        </button>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td class="text-center" colspan="9" scope="row">Ainda não há Processos cadastrados!</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% include 'paginator.html' %}

    {% include '_modal.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/processo.js' %}"></script>
{% endblock %}