{% load widget_tweaks %}

<form method="post">
    {% csrf_token %}

    <div class="modal-header">
        <h3 class="modal-title">Deletar: Matéria</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Você tem certeza que deseja excluir o registro
            <strong>{{ materia.de_tipomateria }}</strong>?</p>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Deletar</button>
    </div>

</form>